/* CSS */

a {
    color: rgb(255, 166, 181);
}

body {
    background-image: url("https://assets.ptimgs.com/ptimgs/ab/images/dp/wcm/202323/0217/hello-kitty-wallpaper-3-o.jpg");
}

footer {
    background-color: #f7f2d8
}
